<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf8">
    
    <title>
        {% if agent %}
            Informações do agente
        {% else %}
            Dashboard
        {% endif %}
        
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'assets/js/ajax.js' %}"></script>
</head>


<body>
 
    
    
    
    {% include 'main/menu.html' %}
    <main>
        {% block conteudo %}
        {% endblock  %} 
        {% include 'main/formAgente.html' %}
    </main>
    {% include 'main/footer.html' %}
    
        

    
 <!-- Compiled and minified JavaScript -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" type= "text/javascript"></script>

{% include "main/charts/newsperagent.html" %}    
<script>
    
    $(document).ready(function(){
        $('.sidenav').sidenav();
        
        
    });
    $('.searchtxt').keyup(function(e){
        if(e.keyCode == 46) {
            $('.content-search').empty();
            
        }
    });
    $('.searchtxt').keyup(function(){
        
        $.ajax({
            type: 'POST',
            url: "/ajax_calls/search/",
            data: {
                'search_text' : $('.searchtxt').val(),
                'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()

            },
            success: searchSuccess,
            dataType: 'html'
        });
    });
    $(document).ready(function(){
        $('.tabs').tabs();
        
    });
    $(document).ready(function () {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });

    
    
    
    

    
    function searchSuccess(data, textStatus, jqXHR){
        if($('.seacrtxt').val()!=""){
            $('.content-search').html(data)
        }
        
    }
    
    
</script>
</body>

    
</html>
        