<footer class="page-footer grey darken-4" style="bottom:0;left:0;width:100%;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">NDEE </h5>
                <p class="grey-text text-lighten-4">News Dynamic Extraction Engine</p>
              </div>
              <div class="col l4 offset-l2 s12">
                
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Todos os direitos reservados
            
            </div>
          </div>
        </footer>